/* ESTRUTURA GERAL */
html{
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
body {
    margin: 0;
    padding:0;
    background-color: #ddd;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}
.pagina {
    width: 100%
}
.barraSep{
    min-height: 3px;
    background-color: #fff;
    width: auto;
    margin-bottom: 5px;
}

/* TOPO DA PAGINA */
.topContent {
    width: 100%;
    margin: 0 auto;
}
.topTop{
    width: 100%;
    margin: 0 auto;
}
.topStruct{
    clear: both;
    display: table;
    margin: 0 auto;
}
.logo{
    float: left;
}
.containerTopMid{
    float: left;
}
.logCadLinks{
    
}
.buscaTop{
    
}
.containerTopRight{
    float: left;
}
.contAtendLinks{
    
}

/* MENU PRINCIPAL */
.mainMenuDiv{
    width: 100%;
    margin: 0 auto;
    background: #333;
}
.mainMenuStruct{
    display: table;
    margin: 0 auto;
}
.mainMenu{
    height: 55px;
    list-style:none;
    border:none;
    float:left;
}
.mainMenu li{
    position:relative;
    float:left;
    top: -14px;
    z-index: 2;
}
.mainMenu li ul{
    position:absolute;
    display:none;
}
.mainMenu li:hover ul, .mainMenu li.over ul{
    display:block;
}
.mainMenu li ul li{
    display:block;
}
.ulSubmenu{
    top: 97px;
    left: -150px;
}

/* FIX PARA O SUBMENU ARMAZENAMENTO, TODOS OS ITENS E PERFUMES */
.ulSubmenuArm{
    top: 97px;
    left: -200px;
}
.ulSubmenuTod{
    top: 97px;
    left: -70px;
}
.ulSubmenuPer{
    top: 97px;
    left: -290px;
}

/* SUBMENU GERAL */
.liSubmenu{
    width: 0px;
    left: -50px;
    top: -90px;
}
p{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.mainMenu p.smTitle{
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-indent: 5px;
}
.mainMenu p.links{
    text-indent: 15px;
}
.mainMenu a{
    color: #fff;
    text-decoration: none;
}
.mainMenu a:hover{
    text-decoration: underline;
}
.submenuItens{
    min-width: 200px;
    float: left;
    background: #333;
    padding: 0px 10px 0px 10px;
}
.submenuBanner{
    background: #333;
    height: 407px;
    padding: 0px;
}
.mainSubmenu{
    width: 525px;
    background: #333;
}

/* SUBMENU TODOS OS ITENS */
.smTodosItens{
    width: 535px;
    background: #333;
}

/* SUBMENU INFORMÁTICA */
.smInformatica{
    width: 525px;
    background: #333;
}

/* SUBMENU CELULARES */
.smCelulares{
    width: 525px;
    background: #333;
}

/* SUBMENU JOGOS E CONSOLES */
.smJogosConsoles{
    width: 525px;
    background: #333;
}

/* SUBMENU TABELTS */
.smTablets{
    width: 525px;
    background: #333;
}

/* SUBMENU AUTOMOTIVOS */
.smAutomotivos{
    width: 525px;
    background: #333;
}

/* SUBMENU ELETRÔNICOS */
.smEletronicos{
    width: 525px;
    background: #333;
}

/* SUBMENU ACESSÓRIOS */
.smAcessorios{
    width: 525px;
    background: #333;
}

/* SUBMENU PERFUMARIA */
.smPerfumaria{
    width: 525px;
    background: #333;
}

/* SUBMENU ARMAZENAMENTO */
.smArmazenamento{
    width: 535px;
    background: #333;
}

/* ESTRUTURA DO RODAPÉ */
.botContent{
    clear: both;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}
.botStruct{
    padding: 5px 0 5px 0;
    margin: 0 auto;
    display: table;
    color: #fff;
}
p.rodape{
    margin: 0.2em;
}
p.rodape a{
    text-decoration: none;
    color: #fff;
}
p.rodape a:hover{
    text-decoration: underline;
}
.botP1{
    float: left;
    padding: 5px;
}
.botP2{
    float: left;
    padding: 5px;
}
.botP3{
    float: left;
    padding: 5px;
}
.botP3_1{
}
.botP3_2{
}
.botP4{
    float: left;
    padding: 5px;
}
.botEnd{
    text-align: center;
    clear: both;
    padding: 0 5px 0 5px;
}

/* ESTRUTURA DAS PAGINAS DOS PRODUTOS */
div.midStruct{
    display: table;
    margin: auto;
    background-color: #fff;
}
div.midProdUpper{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
div.midProdUL{
    
    float: left;
}
div.midprodFotos{
    
}
div.midprodVideo{
    
}
div.midProdUR{
    
    float: left;
    padding-top: 10px;
}
div.midBuyProd{

    min-width: 500px;
}
div.midProdInfo{
    padding: 10px;
}
div.midProdSpec{
    
}
div.midFreteBar{
    clear: both;
    text-align: center;
}
div.midProdBot{
    text-align: center;
}
div.fotosSmall{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
ul.parcelamento{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    position: absolute;
    z-index: 1;
}
ul.parcelamento ul li{
    display: none;
    
}
ul.parcelamento:hover ul li{
    display: table;
}
ul.parcelas li{
    background-color: lightsteelblue;
    position: relative;
    padding: 2px 4px;
    left: 200px;
    top: -17px;
}

/* Clase usada nas barras separadores de conteúdo por todo o site */
div.genericBar{
    clear: both;
    background: rgb(30, 50, 230);
    background: -moz-linear-gradient(89deg, rgb(30, 50, 230) 21%, rgb(90, 140, 250) 70%);
    background: -webkit-linear-gradient(89deg, rgb(30, 50, 230) 21%, rgb(90, 140, 250) 70%);
    background: -o-linear-gradient(89deg, rgb(30, 50, 230) 21%, rgb(90, 140, 250) 70%);
    background: -ms-linear-gradient(89deg, rgb(30, 50, 230) 21%, rgb(90, 140, 250) 70%);
    background: linear-gradient(179deg, rgb(30, 50, 230) 21%, rgb(90, 140, 250) 70%);
    border: 2px solid #4141FF;
}

/* Objetos que montam as paginas das catgorias maiores */
 #divContent{
    display: table;
    margin: 10px auto 10px auto;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 1);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 1);
}
div.leftMenuTitle{
    display: table;
    margin: 10px auto 10px auto;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}
#divLeftMenu{
    float: left;
    width: 250px;
    height: 350px;
    padding-right: 10px;
}
#divSlides{
    float: left;
    height: 350px;
}
p.subCatLink{
    margin: 0;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    line-height: 25px;
}
p.subCatLink:hover{
    background-color: #E2E7F8;
}

/* Classe dos blocos pequenos onde fica o link e a foto pequena da capa de cada produto nas buscas */
div.prodSmallBlock{
    margin: 9px;
    float: left;
    width: 130px;
    min-height: 100px;
    background-color: #DEDEF7;
    text-align: center;
    padding: 10px 5px 5px 5px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Estrutura que faz os botões das subcategorias das paginas das categorias principais */
.subCatBtnBar {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:250px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.subCatBtnBar:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.subCatBtnBar:active {
	position:relative;
	top:1px;
}

